spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: "auth-service"

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:/db/changelog/master.yaml
    enabled: true

logging:
  level:
    org.springframework.boot.context.config: DEBUG
    org.springframework.core.env: DEBUG

